<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>
<body>
    <div class="container">
        <div class="jumbotron text-center">
          <h2>Postal Rate Calculator</h2>
          <h1>Results</h1>
        </div> <!-- class "jumbtron" -->
      </div> <!-- class "container" -->

  <div class="container">
    <div class="jumbotron">
    
      <p><strong>Weight:</strong> <%= weight %> ounces</p>
      <p><strong>Package Type:</strong> <%= fullType %></p>
      <p><strong>Destination Zip Code:</strong> <%= zip %></p>
      <p><strong>Price:</strong> <%= rate %></p>
      
    </div> <!-- class "jumbtron" -->
  </div> <!-- class "container" -->
</body>
</html>